.checkout__ad {
    width: 100%;
    margin-bottom: 5px;
}

.checkout {
    display: flex;
    height: max-content;
    padding: 20px;
    background-color: #fff;
}

.checkout__title {
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    margin-right: 10px;
}