.checkout__product {
    display: flex;
    margin: 20px 0;
}

.checkout__product__image {
    object-fit: contain;
    width: 180px;
}

.checkout__product__info {
    padding-left: 20px;
}

.checkout__product__button {
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkout__product__rating {
    display: flex;
}

.checkout__product__title {
    margin: 0;
    font-size: 17px;
    font-weight: 800;
}